body {
    background-color: #111;
    color: #ffffff;
}

a {
    color: white;
}
h6{
    color: #a5a5a5;
}
.header,
.footer,
.pagination,
.page-link,
.card,
.modal-body,
.modal-content{
    padding: 1rem 1rem;
    height: auto;
    margin-bottom: 0rem;
    color: #ffffff;
    background-color: #343a40;
}
.pagination{
    position: center;
    padding-left: 40%;
}
.carousel-caption{
    background-color: hsla(0,0%,0%,0.5);
}

.mrb-justify{
    text-align: justify;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.film-btn {
    color: #4a9be8;
    padding: 15px;
    background-color: inherit;
    border: 2px solid #4a9be8;
    border-radius: 5px;
    white-space: nowrap;
}

.film-btn:hover {
    background-color: royalblue;
    transition: all 0.5s;
    color: white;
}

.icon{
    margin-right: 1rem;
}
.media{
    padding: 1rem 30rem;
    min-width: 50rem;
}
.mb-1{
    padding-bottom: 0.5rem;
}

.vl {
    border-top: 1px solid #4a9be8;
    width: content-box;
}

/*Ab hier für Sitzplan*/
.sitzplan{
    margin: 0 auto;
}

.seat {
    width: 2em;
    height: 2em;
    background: #4a9be8;
    border: #4e555b;
    margin: 2px;
    border-radius: 13px 13px 0 0;
}

.seat:hover {
    background: green;
}

#ticket_checkout {
    visibility: collapse;
}

#tickets span {
    display: inline-block;
    width: 2em;
    height: 1.75em;
    padding: 0;
    text-align: center;
    font-size: large;
    margin: 0 0.2em;
    background: #4a9be8;
    border-radius: 3px;
    border-color: #7abaff;
    vertical-align: middle;
    line-height: 1.75em;
}

#ticketcat0 span {
    margin: 0 1.95em;
}

.btn-plus-minus {
    width: 1.75em;
    height: 1.75em;
    padding: 0;
    font-size: large;
}

.pay-to-win {
    align-self: center;
}

.pay-to-win button {
    width: 8em;
}

@media (max-width: 992px) {
    .seat {
        width: 1.5em;
        height: 1.5em;
    }
}

@media (max-width: 576px) {
    .seat {
        width: 1em;
        height: 1em;
    }
}